<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simple Name app for iPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A828E0781DAA1CF80084C379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A828E08C1DAA1CF80084C379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A828E0971DAA1CF80084C379</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
